<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Materialize -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/>

		<!-- Font Awesome -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
			integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<!-- Public/css -->
		<link rel="stylesheet" href="/css/tailwind.css" />

		<title>Turkey Track Login</title>
	</head>
	<body>
		<div class="container login-container">
			<div class="card">
				<div class="card-content">
					<h3><i class="fas fa-book-reader"></i> Turkey Track</h3>
					<div class="section">
						<p class="lead">Planning your day, made the simpliest way!</p>
					</div>
					<div class="divider"></div>
					<div class="section">
						<a href="/auth/google" class="btn red darken-1">
							<i class="fab fa-google left"></i> Log In With Google
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>
